.left {
  float: left;
  padding-left: 75px;
}
.right {
  float: right;
  padding-right: 75px;
}
.twitch {
  border: 4px #4fc1b0 solid;
	padding: 5px;
	width: 30%;
	margin:auto;
  text-align:center;
}
.videoheader {
  border: 2px black solid;
  padding: 5px;
	width: 20%;
	margin:auto;
	text-align: center;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
header {
  color: black;
  text-align: center;
  border: 2px black dashed;
  margin: 10px;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
main {
  margin-left: auto;
  margin-right: auto;
}
section {
  margin: 10px;
  border: 2px black dashed;
}
#navbar {
  margin: 10px;
  padding:0;
  background-color: #333;
  overflow: hidden;
  list-style-type: none;
}
nav li {
  float:left; 
}
nav li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}
#otherp {
  clear: both;
  text-align:center;
  border:none;
}
#Header {
  text-align:center;
}
#ExperienceT {
  text-align:left;
  width: 200px; 
}
#den {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 350px;
}
#course {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 200px;
}
#colts {
  margin: auto;
  border: 2px black dashed;
  padding: 5px;
  width: 375px;
}
#resumepage {
  background-color:#999190;
  background-image: none;
}
#projectspage {
  background-color:#999190;
  background-image: none;
}
#projects {
  padding: 0 20 0 20;
  display: inline;
}
#videoexamples {
  border:none;
}
#recentstories {
  border:none;
  text-align:center;
	clear:both;
}
#contactpage {
  background-image: none;
  background-color: #999190;
}
#contactinfo {
  list-style-type: none;
  font-size: 50px;
}
#splashsection {
  border: none;
  margin: 10px;
  position: relative;
  height:100%;
}
#splashdiv {
  margin: auto;
  position: relative;
  height: 400px;
  padding: 50px;
}
#splashvid {
  margin: auto;
  width: 665px;
  position: absolute;
  height: 380px;
  top:0; bottom:0; left:0; right:0;
}
#splashbio {
  margin:auto;
  text-align:center;
  width: 75%;
  background-color: rgba(255,255,255,0.65);
  border: 2px black dashed;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}
#twitchcontainer {
	border:none;
	text-align:center;
	clear:both;
}
#downloadboxes {
    float: right;
    clear: right;
    margin: auto;
    padding: 20px;
}
#downloadresume {
    float: right;
    clear: right;
    margin: auto;
    padding: 20px;
    border: 2px black solid;
    width: 250px;
    height: 25px;
    background-color: #003B7B;
    text-align: center;
}
#downloadresume a{
  font-weight: bold;
  font-size: 20px;
  color: white;
}
#downloadreferences {
    float: right;
    clear: right;
    margin: auto;
    padding: 20px;
    border: 2px black solid;
    width: 250px;
    height: 25px;
    background-color: #003B7B;
    text-align: center;
}
#downloadreferences a {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
#downloadresume a:hover {
  text-decoration: none;
  color: white;
}
#downloadreferences a:hover {
  text-decoration: none;
  color: white;
}
#downloadsamples a:hover {
  text-decoration: none;
  color: white;
}
a:link   {
  text-decoration: none;
  color: black;
}
a:visited   {
  text-decoration: none;
}
a:hover  {
  text-decoration: underline;
  color: purple;
}
nav li a:link {
  color:#FFFFFF;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
nav li a:visited {
  color:#FFFFFF;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
nav li a:hover {
  background-color: #111;
  text-decoration: none;
  color:#003B7B;
  font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
}
